.clients {
  padding: 50px 0;
  background-color: $bg-clients;
  .header {
    position: relative;
    padding: 0;
    &__menu--black {
      a {
        color: $black;
      }
    }
    &__menu__icon--bg {
      border-radius: 50%;
      background-color: $white;
    }
  }
  &__text {
    margin-top: 40px;
    &__col {
      @include make-col(5);
    }
    h2 {
      width: 194px;
      height: 80px;
      font-family: $arch-black;
      font-style: normal;
      font-weight: normal;
      font-size: 40px;
      line-height: 40px;
      color: $color-title;
    }
    .desc {
      font-family: Archivo;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      color: $color-clients;
      mix-blend-mode: normal;
      opacity: 0.5;
    }
    .view {
      color: $red;
      font-family: $arch-black;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      letter-spacing: 0.4px;
      text-transform: uppercase;
    }
  }
  &__gallery {
    position: relative;
    display: flex;
    justify-content: center;
    &__col {
      @include make-col(7);
    }
    &__column {
      display: flex;
      flex-direction: column;
      &__table {
        max-width: 197px;
        margin: 25px 15px;
        .img-display {
          overflow: hidden;
          border-radius: 10px;
          max-width: 196px;
          max-height: 250px;
          background-color: $bg-clients-gallery;
          display: flex;
          img {
            text-align: center;
            margin: auto;
            display: block;
            object-fit: cover;
            object-position: center;
            height: 100%;
            width: 100%;
          }
        }
        p {
          margin-top: 15px;
          font-family: $arch;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 17px;
          color: $color-name;
        }
      }
      &:nth-child(2n) {
        margin-top: 65px;
      }
    }
  }
  .bg-parallax {
    img {
      width: 100%;
    }
    &__item {
      position: absolute;
    }
    .item1 {
      top: 35%;
      right: 0;
      animation: 3s parallax-bg infinite alternate-reverse;
    }
    .item2 {
      z-index: 6;
      top: -3%;
      left: 0;
      animation: 4s parallax-bg infinite alternate;
    }
    .item3 {
      bottom: 18%;
      left: 0;
      animation: 3s parallax-bg infinite alternate;
    }
  }
}