.hero_block {
  background-color: $purple;
  height: 100vh;
  position: relative;
  perspective: 50px;
  text-align: center;
  overflow: hidden;
  .page__container {
    height: 100%;
  }
  &__title {
    top: calc(50% - 157px);
    z-index: 10;
    text-transform: uppercase;
    position: relative;
    transition: 1s all;
    h1 {
      font-family: $arch-black;
      font-style: normal;
      font-weight: normal;
      font-size: 170px;
      line-height: 185px;
      text-align: center;
      color: $h1-color;
    }
    p {
      font-family: Archivo;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 13px;
      color: $gold;
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -10%);
    }
  }

  .bg-parallax {
    img {
      width: 75%;
    }
    &__item {
      position: absolute;
    }
    .item1 {
      bottom: 10%;
      right: 25%;
      animation: 5s parallax-bg infinite alternate-reverse;
    }
    .item2 {
      top: 0;
      right: 0;
      animation: 6s parallax-bg infinite alternate;
    }
    .item3 {
      bottom: 15%;
      left: 30%;
      animation: 4s parallax-bg infinite alternate-reverse;
    }
    .item4 {
      top: 10%;
      right: 40%;
      animation: 6s parallax-bg infinite alternate;
    }
    .item5 {
      top: 5%;
      right: 5%;
      animation: 6s parallax-bg infinite alternate-reverse;
    }
    .item6 {
      bottom: 10%;
      right: 5%;
      animation: 3s parallax-bg infinite alternate;
    }
    .item7 {
      top: 2%;
      left: 10%;
      z-index: 10;
      animation: 6s parallax-bg infinite alternate;
    }
    .item8 {
      bottom: 1%;
      left: 3%;
      animation: 5s parallax-bg infinite alternate;
    }
    .item9 {
      bottom: 20%;
      right: 10%;
      animation: 6s parallax-bg infinite alternate-reverse;
    }
  }
}

