.we_do {
  background-color: $purple;
  padding-bottom: 140px;
  padding-top: 50px;
  .header {
    position: relative;
    padding: 0;
  }
  &__slider-section {
    padding-top: 50px;
    text-align: center;
    text-align: -webkit-center;
    display: flex;
    justify-content: space-between;
    &__body {
      width: 50%;
    }
    &__tabs {
      .line {
        display: flex;
        justify-content: center;
        .tab {
          margin: 10px;
          border-radius: 15px;
          background-color: $bg-tabs;
          width: 200px;
          height: 200px;
          position: relative;
          transition: 500ms all;
          overflow: hidden;
          &:hover {
            background-color: $red;
            .default {
              opacity: 0;
            }
            .hover {
              opacity: 1;
            }
          }
          &:active, &focus {
            background-color: $red;
            .default {
              opacity: 0;
            }
            .hover {
              opacity: 1;
            }
          }
          .default {
            transition: 300ms all;
            opacity: 1;
          }
          .hover {
            transition: 300ms all;
            opacity: 0;
          }
          img {
            width: 100%;
            position: absolute;
            left: -14px;
            top: 10px;
          }
        }
        .active-tab {
          background-color: $red;
          .default {
            opacity: 0;
          }
          .hover {
            opacity: 1;
          }
        }
      }
    }
  }
}